/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
    padding-bottom: 30px;
    color: #5a5a5a;
    max-width: 2000px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    height: 100%;
    background: url('cool-background.png') fixed;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 20px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    height: 600px;
    margin-bottom: 200px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 600px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */
.featurette-divider {
    margin: 80px 0;

    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 600px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* Button CSS -------------------------------------------------------------------------------- */
.button {
    background-color: #4CAF50;

    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {
    background-color: #e7e7e7;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.city {
    background-color: SlateBlue;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.mybuttom {
    background-color: #4CAF50;

    /* Green */
    border: none;
    color: white;
    padding: 20px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 5px;
    outline-offset: 0.2s;
}

mybuttom:hover {
    outline-offset: ;
}

.button1 {
    border-radius: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

.Testbutton {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 2px solid red;
    outline-offset: 5px;
    transition: 0.3s;
}

Testbutton:hover {
    outline-offset: ;
}

.dropdown2 {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 2px solid red;
    outline-offset: 5px;
    transition: 0.3s;
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    padding: 10px 20px;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 2px solid red;
    outline-offset: 5px;
    transition: 0.3s;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.Mybox {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 0.4s;
    margin: 50px auto;
}

.Mybox:hover {
    transform: scale(1.3 , 1.3);
}

.img-responsive2,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.4s;
}

.img-responsive2:hover {
    transform: skew(10deg , 10deg);
}

.wrap-layer {
    position: relative;
}

.text-layer {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    pointer-events: none;
}

.background-layer svg * {
    transition: fill 1s ease;
}

.background-layer:hover #E1 {
    fill: #404;
}

.background-layer:hover #E2 {
    fill: #505;
}

.background-layer:hover #E3 {
    fill: #606;
}

.background-layer:hover #E4 {
    fill: #707;
}

.background-layer:hover #E5 {
    fill: #808;
}